/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with a FASTA-formatted alignment
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Same dataset as the default test profile, but exercises the FASTA branch of the
    EMBOSS_SEQRET alignment-format normalisation step.

    Use as follows:
        nextflow run nf-core/sativa -profile test_fasta,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'FASTA test profile'
    config_profile_description = 'Minimal test dataset (FASTA alignment) to check pipeline function'

    // Input data
    taxonomy  = params.pipelines_testdata_base_path + '/sativa/testdata/sativa_test.tax'
    alignment = params.pipelines_testdata_base_path + '/sativa/testdata/sativa_test.alnfna'
}
